/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    line-height: 1.2;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: bold;
}

.container {
  width: 95%;
  margin: auto;
}

.navigation {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
}

nav li {
  border-bottom: 2px lightgrey solid;
  text-align: center;
  color: lightgrey;
  padding: 15px;
  font-size: 20px;
  list-style: none;
}

nav li:first-child {
  border-top: 2px lightgrey solid;
}

.nav-img {
  margin: 0px auto 20px auto;
}
header {
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-img {
  display: none;
}

h1 {
  font-size: 60px;
  text-align: center;
}

header p {
  border: 1px solid black;
  width: 130px;
  padding: 5px 20px;
  text-align: center;
}

.top-section {
  width: 100%;
  margin: 30px auto;
}

.top-box {
  margin: 40px 0px;
}

.middle-img {
  width: 100%;
  margin: auto;
}

.bottom-section {
  margin: 30px 0px;
}

.bottom-box {
  margin: 40px 0px;
}

.contact {
  margin: 30px 0px;
}

footer {
  text-align: center;
  margin: 30px 0px;
}

/* Media Queries */

@media (min-width: 500px) {
  .container {
    width: 95%;
    margin: auto;
  }

  .navigation {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  nav li {
    border: none;
    font-size: 15px;
  }

  nav li:first-child {
    border: none;
  }

  .nav-img {
    margin-top: 20px;
  }

  .top-section {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  .top-box {
    width: 48%;
  }

  .bottom-section {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
  }

  .bottom-box {
    width: 32%;
  }
}

@media (min-width: 800px) {

  .container {
    width: 95%;
    margin: auto;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav {
    width: 100%;
  }

  .nav-img {
    display: flex;
    margin-left: 8%;
  }

  header {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .title {
    widtH: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-img {
    display: flex;
    width: 48%;
  }

  .top-section {
    width: 100%;
    margin: 0px auto;
  }

  .top-box {
    margin: 20px auto;
  }
}